@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.menu {
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    width: 200px;
}

.menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #080808;
    line-height: 1.2em;
}

.menu h3 span {
    font-size: 14px;
    color: #808080;
}

.menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;
}

input {
    float: right;
    width: 50px;
}

select {
    float: right;
    width: 100px; 
}

label {
    color: #080808;
}